@import "~assets/styles/libs/vars";
@import "~assets/styles/libs/animations";

.aboutContainer {
  .introContent {
    height: 100vh;
    .backText {
      z-index: 1;
      position: fixed;
      padding: 0vh 5% 15vh;
      // padding: 10vh 5%;
      width: 100%;
      display: flex;
      flex-direction: column;
      line-height: 1.1;
      width: 100%;
      height: 100vh;
      & > div {
        margin: auto;
        width: 100%;
        position: relative;
        & > span {
          width: fit-content;
          font-weight: 800;
          font-size: 10vmin;
          position: absolute;
          text-align: center;
        }
      }
      .focusedText {
        background-color: $white;
        color: $black;
        font-weight: 500;
        font-size: 11vmin;
      }
      .containBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .projects {
    padding: 50px 1em;
    z-index: 11;
    //padding-top: 100vh;
    position: relative;
    background-color: $black;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &::before {
      position: absolute;
      content: "";
      z-index: 11;
      top: -80px;
      left: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(180deg, transparent, $black);
      pointer-events: none;
    }
    .alert {
      font-size: 6vw;
      font-weight: 200;
      background-image: linear-gradient(90deg, black, #fff);
      //background-size: 1500px;
      background-attachment: fixed;
      background-clip: content-box;
      background-repeat-y: no-repeat;
      background-position: center;
    }
    a {
      direction: ltr;
      color: $white;
      text-decoration: none;
      .phone {
       // background-color: $white;
        font-size: 1.5vmax;
        display: inline-block;
        direction: ltr;
        letter-spacing: 3px;
       // padding: 0;
      }
    }
    .social{
      height: 100px;
    }
  }
}
