@import "~assets/styles/libs/vars";
@import "~assets/styles/libs/animations";

.aboutContainer {
  .introContent {
    height: 100vh;
    .backText {
      z-index: 1;
      position: fixed;
      padding: 10vh 5%;
      width: 100%;
      display: flex;
      flex-direction: column;
      line-height: 1.1;
      width: 100%;
      height: 100vh;
      & > div {
        margin: auto;
        width: 100%;
        position: relative;
        & > span {
          width: fit-content;
          font-weight: 800;
          font-size: 5vmax;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          &.left {
            animation: driftLeft 1s cubic-bezier(1, 0, 0.25, 1);
            animation-fill-mode: forwards;
          }
          &.right {
            animation: driftRight 1s cubic-bezier(1, 0, 0.25, 1);
            animation-fill-mode: forwards;
          }
        }
        &:nth-child(1) > span {
          animation-delay: 1.1s;
        }
        &:nth-child(2) > span {
          animation-delay: 1.2s;
        }
        &:nth-child(3) > span {
          animation-delay: 1.3s;
        }
        &:nth-child(4) > span {
          animation-delay: 1.35s;
        }
        &:nth-child(5) > span {
          animation-delay: 1.25s;
        }
        &:nth-child(6) > span {
          animation-delay: 1.15s;
        }
      }
      .focusedText {
        background-color: $white;
        color: $black;
        font-weight: 500;
        font-size: 5vmax;
      }
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
      .center {
        text-align: center;
      }
      .containBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .projects {
    padding: 50px 1em;
    z-index: 11;
    //padding-top: 100vh;
    position: relative;
    background-color: $black;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &::before {
      position: absolute;
      content: "";
      z-index: 11;
      top: -80px;
      left: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(180deg, transparent, $black);
      pointer-events: none;
    }
    .alert {
      font-size: 5vmax;
      font-weight: 200;
    }
    a {
      direction: ltr;
      color: $black;
      .phone {
        background-color: $white;
        font-size: 1.5vmax;
        padding: 0 1em;
      }
    }
  }
}
