  @font-face {
    font-family: 'Vazir';
    font-weight: 200;
    src: url('./Vazir/Vazir-Thin-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Thin-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Thin-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Thin-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 300;
    src: url('./Vazir/Vazir-Light-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Light-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Light-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Light-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 400;
    src: url('./Vazir/Vazir-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 500;
    src: url('./Vazir/Vazir-Medium-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Medium-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Medium-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Medium-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 600;
    font-style: bold;
    src: url('./Vazir/Vazir-Bold-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Bold-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Bold-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Bold-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Vazir';
    font-weight: 700;
    src: url('./Vazir/Vazir-Black-FD.eot'); /* IE9 Compat Modes */
    src: url('./Vazir/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./Vazir/Vazir-Black-FD.woff2') format('woff2'), /* Modern Browsers */
    url('./Vazir/Vazir-Black-FD.woff') format('woff'), /* Modern Browsers */
    url('./Vazir/Vazir-Black-FD.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_Black.eot");
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_Black.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("./IRANSansWeb/woff2/IRANSansWeb(FaNum)_Black.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("./IRANSansWeb/woff/IRANSansWeb(FaNum)_Black.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("./IRANSansWeb/ttf/IRANSansWeb(FaNum)_Black.ttf")
        format("truetype");
  }
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("./IRANSansWeb/woff2/IRANSansWeb(FaNum)_Bold.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("./IRANSansWeb/woff/IRANSansWeb(FaNum)_Bold.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("./IRANSansWeb/ttf/IRANSansWeb(FaNum)_Bold.ttf")
        format("truetype");
  }
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("./IRANSansWeb/woff2/IRANSansWeb(FaNum)_Medium.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("./IRANSansWeb/woff/IRANSansWeb(FaNum)_Medium.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("./IRANSansWeb/ttf/IRANSansWeb(FaNum)_Medium.ttf")
        format("truetype");
  }
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("./IRANSansWeb/woff2/IRANSansWeb(FaNum)_Light.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("./IRANSansWeb/woff/IRANSansWeb(FaNum)_Light.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("./IRANSansWeb/ttf/IRANSansWeb(FaNum)_Light.ttf")
        format("truetype");
  }
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("./IRANSansWeb/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("./IRANSansWeb/woff/IRANSansWeb(FaNum)_UltraLight.woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("./IRANSansWeb/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
        format("truetype");
  }
  @font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum).eot");
    src: url("./IRANSansWeb/eot/IRANSansWeb(FaNum).eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */ url("./IRANSansWeb/woff2/IRANSansWeb(FaNum).woff2")
        format("woff2"),
      /* FF39+,Chrome36+, Opera24+*/
        url("./IRANSansWeb/woff/IRANSansWeb(FaNum).woff")
        format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("./IRANSansWeb/ttf/IRANSansWeb(FaNum).ttf")
        format("truetype");
  }
  /* mahboube mehravar fonts */
  @font-face {
    font-family: 'Mahboube';
    src: url('./MahboubeMehravar/mahboubeh_mehravar.eot'); /* IE9 Compat Modes */
    src: url('./MahboubeMehravar/mahboubeh_mehravar.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./MahboubeMehravar/mahboubeh_mehravar.woff2') format('woff2'), /* Modern Browsers */
    url('./MahboubeMehravar/mahboubeh_mehravar.woff') format('woff'), /* Modern Browsers */
    url('./MahboubeMehravar/Mahboubeh_mehravar.ttf') format('truetype'); /* Safari, Android, iOS */
  }
  